<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->

         {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="/about/">Праздник</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/about/">Домашняя
                                <span class="sr-only">страница</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/guests/">Гости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/restaurants/">Рестораны</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu/">Меню</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<p>&nbsp;</p>
<p></p>
<hr />
<h1 style="text-align: center;"><span style="text-decoration: underline; color: #ffff00; background-color: #000000;">Меню:</span></h1>
<p><em>1. Салат Цезарь</em></p>
<p><img src="https://avatars.mds.yandex.net/i?id=a744234561b20bf10bde18e3e9fc7417-5658684-images-thumbs&amp;n=13" alt="Салат Цезарь с курицей - картинки, фото и рисунки." width="218" height="145" /><br /><em>2. Запечённая курица</em></p>
<p><img src="https://avatars.mds.yandex.net/i?id=a5895643a574442e7c982e1f7ab9c779-2219214-images-thumbs&amp;n=13" alt="Курица, запеченная в фольге." width="222" height="168" /><br /><em>3. Щука запечённая</em></p>
<p><img src="https://avatars.mds.yandex.net/i?id=3702c7850d2aa58652645a0b52ecdbc8-5665308-images-thumbs&amp;n=13" alt="farshirovannaya-shhuka-1280x640." width="226" height="113" /><br /><em>4. Салат Оливье</em></p>
<p><img src="https://avatars.mds.yandex.net/i?id=62c861b01ebe57f51e8799d27b982e83-4016775-images-thumbs&amp;n=13" alt="Салат Оливье с колбасой - картинки, фото и рисунки." width="231" height="154" /><br /><em>5. Картофель с грибами</em></p>
<p><img src="https://avatars.mds.yandex.net/i?id=4fddd1203c296380e9c35c3e35b4d2b3-5905533-images-thumbs&amp;n=13" alt="15. Картошка в духовке с лесными грибами." width="234" height="156" /><br /><em>6. Бутерброды с шпротами и чесноком</em></p>
<p><img src="https://mykaleidoscope.ru/uploads/posts/2020-02/1581011873_31-p-buterbrodi-so-shprotami-90.jpg" width="234" height="156" /><br /><em>7. Торт Медовик</em></p>
<p><img src="https://avatars.mds.yandex.net/i?id=abb23100c65958bf7a24bbd63bedb2df-5450841-images-thumbs&amp;n=13" alt="Рецепт классического торта &amp;quot;Медовик&amp;quot; пошагово с фото | Ку..." width="238" height="145" /></p>